.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px 0;
    box-shadow: 0 0 10px 1px $shadow;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
    }
}