.popular-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-bottom: 40px;
    background: white;

    .sidebar__title {
        margin-bottom: 35px;
    }

    .card-tag {
        display: inline-block;
        margin: 6px 3px;
    }
}