.main-title {
    display: inline-block;
    margin: 0;
    background: black;
    color: white;
    padding: 0 40px;
    font-size: 48px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.sub-title {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 3px;
}