.related-works {
  padding-bottom: 70px;
  text-align: center;

  &__text {
    padding-bottom: 50px;
    color: $darkgray;
    text-transform: initial;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.5px;
  }

  &__card {
    height: 250px;
    width: 350px;
  }

  @media (max-width: 770px) {
    &__card {
      margin: 0 190px;
    }
  }

  @media (max-width: 450px) {
    &__text {
      padding: 0 20px;
    }
  }
}
