.share {
  display: flex;
  align-items: center;

  &__btn {
    padding: 15px 15px;
    background-color: $main;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 4px;

    svg {
      fill: white;
    }
  }

  &__socials {
    position: relative;
    margin-bottom: 0;
    margin-left: 15px;
    display: inline-block;
    width: 315px;
    justify-content: center;
    background-color: $lightgray;
    border-radius: 4px;

    .socials__link {
      width: 45px;
      height: 45px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: $lightgray;
      top: 50%;
      left: -5px;
      transform: translate(0, -50%) rotate(45deg);
      z-index: 0;
    }
  }

  @media (max-width: 770px) {
    margin-bottom: 40px;
  }

  @media (max-width: 450px) {
    position: relative;
    margin-bottom: 20px;
    &__btn {
      margin: 0 auto;

      &:hover + .share__socials {
        display: block;
      }
    }

    &__socials {
      display: none;
      position: absolute;
      width: 100%;
      margin-left: 0;
      top: -60px;
      left: 0;

      &::before {
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0) rotate(45deg);
      }

      .socials__item {
        flex-grow: 1;
      }

      .socials__link {
        width: 35px;
        height: 45px;
        background-size: 13px 13px;
      }
    }
  }
}
