body {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main {
    background: $lightgray1;
}

.blog-container {
    display: flex;
    justify-content: space-between;
}