.search {
  box-sizing: border-box;

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &__input {
    padding: 8px;
    border: 1px solid $lightgray;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    border-radius: 2px;

    &:hover {
      background: $lightgray;
    }

    &:active {
      background: $main;
    }

    &:focus {
      outline: none;
    }
  }

  &--page {
    height: 60px;
    padding: 0 10px;
    margin-bottom: 25px;
    background: white;
    display: flex;
    align-items: center;

    .search__input-wrapper {
      width: 100%;
    }

    .search__input {
      border: none;
    }

    .search__btn {
      background: $main;

      &:hover {
        background: $gray1;
      }

      &:active {
        background: white;
      }
    }
  }
}
