.main-header {
    max-height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 20px 0;
    box-shadow: 0 -5px 10px 0px black;
    z-index: 3;
    box-sizing: border-box;

    .container {
        display: flex;
        justify-content: space-between;
    }
}