.copyrigh-text {
    display: inline-block;
    height: 13px;
    margin: 0 auto;
    margin-bottom: 45px;
    font-size: 13px;
    color: $main;
    font-weight: normal;

    &--black {
        color: black;
    }
}