.socials {
    margin-bottom: 35px;
    
    &__list {
        display: flex;
        justify-content: space-between; 
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    &__link {
        display: block;
        width: 70px;
        height: 60px;
    }
}