.about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &__img {
        width: 530px;
        height: 600px;
        background: $lightgray url(../../img/about-us-bg.jpg) no-repeat 80% 50%;
        background-size: cover;
    }

    &__content {
        width: 550px;
    }

    &__title {
        display: block;
        font-size: 18px;
        letter-spacing: 5px;
        margin-bottom: 35px;
    }

    &__text {
        padding-bottom: 30px;
        color: $main;
        font-size: 14px;
        font-weight: normal;
        text-transform: initial;
        line-height: 2em;
        letter-spacing: 0.5px;
    }
}